<header>
    <nav class="top-nav" style="height: 10rem">
        <div class="container">
            <div class="nav-wrapper">
                <div class="row">
                    <div class="col s12 m10">
                        <h1 class="header">FlashCodes</h1>
                    </div>
                </div>
            </div>
        </div>


        <ul id="slide-out" class="sidenav sidenav-fixed">
            <li>
                <div class="user-view">
                    <div class="background">
                        <img src="/brain.jpg">
                    </div>
                    <a href="#name"><span class="pink-text name">John Doe</span></a>
                </div>
            </li>
            <li>
                <div class="divider"></div>
            </li>
            <li class="addMore"><a href="/add">Create Cards!</a></li>
            {{!-- <li>
                <div class="divider"></div>
            </li> --}}
            <li>
                <div class="collection" id="sidebarSub">
                    <p class="title"><strong>Study Cards by Subject</strong>
                    </p>
                    <hr>

            </li>
            <li>
                <div class="collection" id="sidebarAuth">
                    <p class="title"><strong>Study Cards by Author</strong></p>
                    <hr>

            </li>

        </ul>


        <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </nav>
</header>
<!-- Page Layout here -->
<div id="main" class="row">
    <!-- Side navigation panel -->
    <div class="col s2">
    </div>
    <!-- Main Content -->
    <div class="col s10 center-align holder">
        <div class="carousel center-align" id="cardCarousel" data-indicators="true">
            {{!-- <a class="carousel-item" href="#!">
                <label class="flip">
                    <input type="checkbox" />
                    <div class="card">
                        <div class="front">What is the main difference between a class and an ID in HTML?</div>
                        <div class="back">A class can be applied to multiple elements while an ID can only be applied to
                            one element</div>
                    </div>
                </label>
            </a>
            <a class="carousel-item" href="#!">
                <label class="flip">
                    <input type="checkbox" />
                    <div class="card">
                        <div class="front">Question 2</div>
                        <div class="back">Answer 2</div>
                    </div>
                </label>
            </a>
            <a class="carousel-item" href="#!">
                <label class="flip">
                    <input type="checkbox" />
                    <div class="card">
                        <div class="front">
                            <p>Question 3</p>
                        </div>
                        <div class="back">Answer 3</div>
                    </div>
                </label>
            </a> --}}

        </div>

    </div>

    <!-- Modal Trigger   -->
    <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>

    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>Create New Stack</h4>
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="textarea1" class="materialize-textarea"></textarea>
                            <label for="textarea1">Title</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-light btn-flat">Create</a>
        </div>
    </div>
    </body>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script type="text/javascript" src="js/materialize.js"></script>

    <script src="/js/cards.js"></script>
    {{!-- <script>

        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.carousel');
            var instances = M.Carousel.init(elems, {});

        }); --}}



        {
            {
                !-- </script> --}}


    {{!-- <script>    < script src = "https://code.jquery.com/jquery.js" ></script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems, options);
        });
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.modal');
            var instances = M.Modal.init(elems, options);
        });
    </script> --}}