<header>
    <nav class="top-nav" style="height: 100px">
        <div class="container">
            <div class="nav-wrapper">
                <div class="row">
                    <div class="col s12 m10">
                        <h1 class="header">FlashCodes</h1>
                    </div>
                </div>
            </div>
        </div>


        <ul id="slide-out" class="sidenav sidenav-fixed">
            <li>
                <div class="user-view">
                    <div class="background">
                        <img src="/brain.jpg">
                    </div>
                    <a href="#name"><span class="pink-text name">John Doe</span></a>
                </div>
            </li>
            <li>
                <div class="divider"></div>
            </li>
            <li class="addMore"><a href="/add">Create Cards!</a></li>
            <li>
                <div class="divider"></div>
            </li>
            <li>

                <div class="collection">
                    <strong>Study Cards by Subject</strong>
                    <a href="#!" class="collection-item card-subject" data-id="HTML">HTML</a>
                    <a href="#!" class="collection-item card-subject" data-id="Sequelize">Sequelize</a>
            </li>
        </ul>
        </li>
        <li>
            <div class="divider"></div>
        </li>
        </ul>
        <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </nav>
</header>
<!-- Page Layout here -->
<div id="main" class="row">
    <!-- Side navigation panel -->
    <div class="col s3">
    </div>
    <!-- Main Content -->

    <!-- <div class="row">
                <div class="col s12 m6">
                    <div class="card blue-grey darken-2 small">
                        <div class="card-content white-text">
                            <a class="btn-floating halfway-fab waves-effect waves-light pink"><i
                                    class="material-icons">edit</i></a>
                            <p class="card-title activator ">Flashcard Example 1</p>
                            <p class=" activator">I am a very simple card. I am good at containing small bits of
                                information. I am
                                convenient because I require little markup to use effectively.</p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Card Title<i
                                    class="material-icons right">close</i></span>
                            <p>Here is some more information about this product that is only revealed once clicked on.
                            </p>
                        </div>
                    </div>
                </div>
            </div> -->
    <div class="col s9">
        <div class="carousel" id="cardCarousel" width= "50px">


        </div>

    </div>

    <!-- Modal Trigger   -->
    <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>

    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>Create New Stack</h4>
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="textarea1" class="materialize-textarea"></textarea>
                            <label for="textarea1">Title</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-light btn-flat">Create</a>
        </div>
    </div>
    </body>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script type="text/javascript" src="js/materialize.js"></script>

    <script src="/js/cards.js"></script>
    <script>

        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.carousel');
            var instances = M.Carousel.init(elems, {});
        });
    </script>


    {{!-- <script>    <script src="https://code.jquery.com/jquery.js"></script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems, options);
        });
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.modal');
            var instances = M.Modal.init(elems, options);
        });
    </script> --}}