/* .flip-container {
  perspective: 1000px;
} */
/* flip the pane when hovered */
/* .flip-container:hover .flipper,
.flip-container.hover .flipper {
  transform: rotateY(180deg);
}
.flip-container,
.front,
.back {
  width: 100%;
  height: auto;
} */
/* flip speed goes here */
/* .flipper {
  transition: 0.9s;
  transform-style: preserve-3d;
  position: relative;
} */
/* hide back of pane during swap */
/* .front,
.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
} */
/* front pane, placed above back */
/* .front {
  z-index: 2;
  /* for firefox 31 */
  /* transform: rotateY(0deg);
} */
/* back, initially hidden pane */
/* .back {
  transform: rotateY(180deg);
} */ */
header,
main,
footer {
  padding-left: 300px;
}
@media only screen and (max-width : 992px) {
  header,
  main,
  footer {
      padding-left: 0;
  }
}

/* NEW STUFF */
label {
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  display: block;
  width: 300px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.card {
  position: relative;
  height: 100%;
  width: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 600ms;
  transition: all 600ms;
  z-index: 20;
}

  .card div {
      position: absolute;
      height: 100%;
      width: 100%;
      background: #FFF;
      text-align: center;
      line-height: 200px;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      border-radius: 2px;
  }

  .card .back {
      background: #222;
      color: #FFF;
      -webkit-transform: rotateY(180deg);
      transform: rotateY(180deg);
  }

label:hover .card {
  -webkit-transform: rotateY(20deg);
  transform: rotateY(20deg);
  box-shadow: 0 20px 20px rgba(50,50,50,.2);
}

input {
  display: none;
}

:checked + .card {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

label:hover :checked + .card {
  transform: rotateY(160deg);
  -webkit-transform: rotateY(160deg);
  box-shadow: 0 20px 20px rgba(255,255,255,.2);
}

li {
  color: black;
}

